*{margin:0;padding:0;box-sizing:border-box}

body{
  font-family:Arial;
  background:#060000;
  color:#fff;
}

header{
  background:black;
  border-bottom:3px solid red;
  padding:25px;
  text-align:center;
}

.logo{
  font-size:40px;
  color:red;
  font-family:Impact;
  text-shadow:0 0 15px red;
}

nav{
  display:flex;
  justify-content:center;
  gap:15px;
  background:black;
  padding:10px;
}

nav button{
  background:none;
  border:none;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

.creator-btn{
  color:red;
  animation:pulse 1.5s infinite;
}

@keyframes pulse{
  50%{text-shadow:0 0 12px red;}
}

section{display:none;padding:20px}
.active{display:block}

.products{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:20px;
}

.card{
  width:230px;
  background:black;
  border:1px solid red;
  padding:12px;
  border-radius:15px;
  box-shadow:0 0 15px red;
}

.card img{
  width:100%;
  height:130px;
  object-fit:cover;
}

.card button{
  background:red;
  border:none;
  padding:6px;
  margin-top:6px;
  cursor:pointer;
}

.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.8);
  justify-content:center;
  align-items:center;
}

.box{
  background:#111;
  padding:20px;
  width:320px;
}

.creator-only{display:none}
body.creator .creator-only{display:flex}

#creatorBar{
  position:fixed;
  top:10px;
  right:10px;
  gap:6px;
}

#unlockFx{
  position:fixed;
  inset:0;
  background:black;
  display:none;
  justify-content:center;
  align-items:center;
  z-index:999;
}

#unlockFx.active{
  display:flex;
  animation:unlock 1.5s forwards;
}

@keyframes unlock{
  50%{background:red}
  100%{background:transparent}
}
